html {
  font-family: 'Roboto', sans-serif;
}

.portfolio-titles {
Background-color: lightgrey;
Color: white;
Margin-top:-30px!important;
Width:80%;
Margin: auto;
Z-index: 9999;
Position: relative;
}

p {
  color: grey;
}

.banner {
  text-align: center;
  height: 100vh;
}

.portfolio {
  background-color: #D6C5C4;
}

.footer {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: black;
}


.selfie {
  max-width: 20em;
}

.banner-small {
  text-align: center;
  background-color: black;
}

.btn {
  background-color: #D6C5C4;
  text-decoration: none;
  color: white;
  border: none;
}

.workname {
  text-decoration: none;
  border: none;
  color: black;
}

.banner-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.contact {
  background-color: lightgrey;
  background-image: url(../images/email-background.jpg);
  background-position: center;
  background-size: cover;
}

input {
  border: none;
}

textarea {
  border: none;
}

h3 {
  margin-bottom: 0;
}
