html {
  font-family: 'Roboto', sans-serif;
}

.banner {
  padding-bottom: 17.5em;
  padding-top: 17.5em;
  text-align: center;
}

.portfolio {
  background-color: #E6DCDC;
}

.footer {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: black;
}


.selfie {
  max-width: 20em;
}

.banner-small {
  padding-bottom: 3em;
  text-align: center;
}

.btn {
  background-color: #E6DCDC;
  text-decoration: none;
  border: none;
}

.workname {
  text-decoration: none;
  border: none;
  color: black;
}
