html {
  font-family: 'Roboto', sans-serif;
}

.portfolio-titles {
  background-color: lightgrey;
  color: white;
  margin-top:-10px;
  width: 95%;
  margin-bottom: 10px;
}



p {
  color: grey;
}

.banner {
  text-align: center;
  height: 100vh;
}

.portfolio {
  background-color: #E6DCDC;
}

.footer {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: black;
}


.selfie {
  max-width: 20em;
}

.banner-small {
  text-align: center;
  background-color: black;
}

.btn {
  background-color: #E6DCDC;
  text-decoration: none;
  border: none;
}

.workname {
  text-decoration: none;
  border: none;
  color: black;
}

.banner-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.contact {
  background-color: lightgrey;
  background-image: url(../images/email-background.jpg);
  background-position: center;
  background-size: cover;
}

input {
  border: none;
}

textarea {
  border: none;
}
